html {
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  color: #696969;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

header {
  padding: 15px;

  background-color: #ebedfb;
}

nav {
  font-weight: 800;
  text-transform: uppercase;
}

.menu-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  padding: 0 0 10px 0;
  border-bottom: #202020 1px solid;

  column-gap: 25px;
  row-gap: 5px;

  background-color: #ebedfb;

  visibility: visible;
}

.menu-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;

  display: flex;
  align-items: center;

  width: 20px;
  height: 15px;

  visibility: hidden;

  cursor: pointer;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  position: absolute;

  display: block;

  width: 100%;
  height: 2px;

  background-color: #202020;
}

.menu-btn > span::before {
  top: -7px;

  content: '';
}

.menu-btn > span::after {
  top: 7px;

  content: '';
}

#menu-toggle {
  position: absolute;
  top: 15px;
  left: 15px;

  display: none;
}

#menu-toggle:checked ~ .menu-btn > span {
  transform: rotate(45deg);
}

#menu-toggle:checked ~ .menu-btn > span::before {
  top: 0;

  transform: rotate(0);
}

#menu-toggle:checked ~ .menu-btn > span::after {
  top: 0;

  transform: rotate(90deg);
}

#menu-toggle:checked ~ .menu-box {
  visibility: visible;
}

.avatar {
  float: left;
  padding-right: 15px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;

  color: #2c40dd;
}

h1 {
  font-size: 48px;
  font-style: italic;
  line-height: 48px;
}

h2 {
  font-size: 24px;
  line-height: 40px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
  font-style: italic;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.pl-15 {
  padding-left: 15px;
}

a {
  color: #202020;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.contacts {
  display: flex;
  gap: 30px;
  justify-content: space-between;

  padding-right: 15px;

  font-size: 12px;
}

.contacts h4 {
  margin-top: 20px;

  font-size: 12px;
}

.contacts p {
  margin-top: 3px;
  margin-bottom: 0;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

section {
  padding: 15px;
}

.skills {
  display: flex;
  gap: 15px;
  justify-content: space-between;

  padding: 0 15px;
}

.skill-item {
  width: 120px;
}

.skill-item::before {
  position: relative;
  top: 35px;

  display: block;
  width: 100%;
  height: 10px;

  background-color: #ebedfb;

  content: "";
}

.skill-html::after {
  position: relative;
  top: 6px;

  display: block;
  width: 65%;
  height: 10px;

  background-color: #2c40dd;

  content: "";
}

.skill-preprocessor::after {
  position: relative;
  top: 6px;

  display: block;
  width: 50%;
  height: 10px;

  background-color: #2c40dd;

  content: "";
}

.skill-js::after {
  position: relative;
  top: 6px;

  display: block;
  width: 15%;
  height: 10px;

  background-color: #2c40dd;

  content: "";
}

.skill-git::after {
  position: relative;
  top: 6px;

  display: block;
  width: 60%;
  height: 10px;

  background-color: #2c40dd;

  content: "";
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;

  padding: 0 15px;
}

figure {

  display: flex;
  flex-flow: column;
  max-width: 220px;
  margin: 10px auto;
  padding: 5px;
  border: 1px #c0c0c0 solid;
}

img {
  max-width: 220px;
  max-height: 150px;
}

figcaption {
  padding: 3px;

  font-size: 12px;
  text-align: center;
}

footer {
  background-color: #ebedfb;
}

.footer-position {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.sr-only {
  position: absolute !important;

  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  overflow: hidden !important;

  white-space: nowrap !important;

  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
}

@media screen and (max-width: 768px) {
  header {
    padding-top: 35px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 18px;
  }

  .menu-box {
    position: absolute;
    top: 25px;
    right: 15px;
    z-index: 1;

    flex-direction: column;
    width: 130px;
    border: none;

    visibility: hidden;
  }

  .menu-btn {
    visibility: visible;
  }

  .contacts {
    flex-wrap: wrap;
  }

  .skills {
    flex-wrap: wrap;
  }

  .avatar {
    width: 150px;
  }
}
